//! @import Fonts !//
@import './fonts';

//! @import Variables !//
@import './variables';

//! @import Bootstrap !//
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

//! @import allmodules !//
@import './modules/allmodules';

//! Mettre tout les marges à 0 !//
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




//! ------------------------------------------------------------------------------------------------------------------------------------------------------------------ !//

// COMMENTAIRE EN + //
//! GRAND TITRE !//
//? PETIT TITRE ?// 
//^ A SAVOIR ^//
//& GRANDE ETAPE &//
//~ PETITE ETAPE ~//
//TODO EXEMPLE-CODE TODO//
//* CODE APPLICATION *//

//! ------------------------------------------------------------------------------------------------------------------------------------------------------------------ !//